tensorflow==2.15.0
mediapipe==0.10.14
opencv-python==4.13.0.90
flask==3.1.2
nvidia-riva-client==2.24.0
pyttsx3==2.99
language-tool-python==3.2.2
numpy==1.26.4
pandas==2.3.3
scikit-learn==1.7.2
protobuf==5.29.6