# Core ML & Vision
tflite-runtime
mediapipe==0.10.14
opencv-python-headless
numpy==1.26.4
scikit-learn==1.3.2
pandas==2.1.4

# Web Framework
flask
gunicorn

# Translation
deep-translator

# Text-to-Speech
gtts
pyttsx3

# Grammar
language-tool-python

nvidia-riva-client